
.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.cards{
  display: flex;
  flex-direction: column;
  min-width: 270px;
  width: calc(33.3% - 20px);
  // padding: 20px 20px 20px 0;
  h2 {
    border-bottom: 2px solid white;
    margin-bottom: 30px;
    padding-bottom: 10px;
  }
  .card {
    min-width: 200px;
    height: 260px;
    min-height: 260px;
  }
}
.card-content > .btn {
margin-bottom: 1rem;
}

