// Specific CSS for your home-page
html{
  overflow-y: overlay;
}

.action_home h1 {
  margin: 30px 0 10px 0;
  font-size: 3rem;
  margin-bottom: 30px;
  text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                 0px -5px 35px rgba(255,255,255,0.3);
  font-weight: bolder;
}

.banner {
  height: 75vh;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  p {
    opacity: 0.7;
  }
}

body {
  background-color: black;
  color: white;
}

body.action_home , body.sessions_body, body.registrations_body {
  background-image: 
  linear-gradient(to top,rgba(0,0,0,.9) 0,rgba(0,0,0,0) 50%,rgba(0,0,0,.9) 90%),
  url("https://assets.nflxext.com/ffe/siteui/vlv3/84b453b4-0d46-4f2c-bd44-81aa6c19c6b5/8be25c2e-056c-4b9f-890f-e669c6b3c682/BE-fr-20201116-popsignuptwoweeks-perspective_alpha_website_large.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
}

body.action_show {
  background-image: 
  linear-gradient(to top,rgba(0,0,0,.9) 0,rgba(0,0,0,0) 50%,rgba(0,0,0,.9) 90%),
  url("https://us.123rf.com/450wm/evgenyatamanenko/evgenyatamanenko1909/evgenyatamanenko190900138/130187064-family-mother-father-and-children-watching-projector-tv-movies-with-popcorn-in-the-evening-at-home.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
}



.action_home .btn-lg {
  width: 300px;
  margin-bottom: 15px;
}

.action_home .btn {
border-radius: 24px;
}

.action_home .btn-secondary {
  background-color: transparent;
  border: 1px solid white;
  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid white;
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {

}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.8); 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}
