// Specific CSS for your home-page
html{
  overflow-y: overlay;
}

// Debugging helper

// * {
//   border: 1px solid #f00 !important;
// }
h3 {
font-size: 1.6rem;
}

button:focus {
  outline: none;
}

.container {
  position: relative;
  height: 84vh;
  padding-right: 35px;
}