.form-wrapper {
background-color: white;
padding: 30px 25px 30px 25px;
max-width: 600px;
min-width: 350px;
margin: 0 auto;
color: black;
text-align: left;
border-radius: 4px;
position: relative;
  .links {
    color: black;
    font-size: xx-large;
    top: 0;
    &:hover {
      color: black;
      text-decoration: none;
    }
  }
}