
.main_div {
  text-align: center;
  position: relative;
  color: white;
}

#movie_name {
margin-bottom: -5px;
}

.image_div img {
  width: 100%;
}

.parent_div {
  position: absolute;
  width: 300px;
  top: 30%;
  left: 50%;
}

.thumb_div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#move {
  position: absolute;
  text-align: center;
  width: 100%;
  left: -150px;
}

#likebtn, #deactivate {
  width: 100px;
  // font-weight: 400;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  // line-height: 1.5;
  }

#donotlikebtn {
  width: 100px;
  // font-weight: 400;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
}




// description bar

// display a little bit nicer the collumn
.column  {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

// display the content of the foot bar in blocks
.info-section{
  text-align: center;
  color: white;
  // bottom: 0;
  // width: 50%;
  justify-content: space-evenly;
  position: absolute;
  // flex-grow: 1;
}

.really_hidden {
  display: none;
}

// remove the items of the list
  .list-inline {
      list-style: none;
      padding-left: 0px;
  }
