
 #bg-image{
  background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/84b453b4-0d46-4f2c-bd44-81aa6c19c6b5/8be25c2e-056c-4b9f-890f-e669c6b3c682/BE-fr-20201116-popsignuptwoweeks-perspective_alpha_website_large.jpg);
  /* Add the blur effect */

}


.main_div {
  text-align: center;
  color: white;
}


#movie_name {
margin-bottom: -5px;
}

.image_div img {
  width: 20%;
}

.really_hidden {
  display: none;
}


.thumb_div {
    display: flex;
    justify-content: center;
    align-items: center;

}

#likebtn {
  width: 100px;
  // font-weight: 400;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  // line-height: 1.5;
  }

#donotlikebtn {
  width: 100px;
  // font-weight: 400;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
}




// description bar

// display a little bit nicer the collumn
.column  {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

// display the content of the foot bar in blocks
.info-section{
  text-align: center;
  color: white;
  //   position: absolute;
  bottom: 0;
  // width: 50%;
  display: flex;
  justify-content: space-evenly;
  // flex-grow: 1;
}

remove the items of the list
  .list-inline {
      list-style: none;
      padding-left: 0px;
  }

// places the footer bottom page, even if there's no content in the page
// #wrapper {
//     min-height: 100vh;
//     position: relative;
//     padding-bottom: 250px;
// }
