<h1>EventMovies#edit</h1>
<p>Find me in app/views/event_movies/edit.html.erb</p>


<% simple_form_for @event_movie do |f| %>
    <%= f.submit 'I like', ,name: "like" %>
    <%= f.submit 'I don\'t like',name: "notlike" %>
<% end %>
