<h1>My Events</h1>
<p>Find me in app/views/events/index.html.erb</p>

<div class="cards">
  <% @events.each do |event|%>
    <div class="card">
      <h2><%= event.name %></h2>
      <p><%= event.description %></p>
      <p><%= event.date_end %></p>
      <p style="color: red;">How can I display the members? :(</p>
    </div>
  <% end %>
</div>