
<% if @event.event_subscriptions.where(owner: true)[0].user.id == current_user.id %>
<div class="res_button">
<%= link_to "Restart Event!", edit_event_path(@event.id), class: :res_link%>
<button id="reveal_btn" type="button"> Reveal</button>
</div>
<% end %>

<div class="res_array">
  <% (0...97).to_a.each do |i| %>
    <% if i == @winner_pos %>
      <div id="winner_div">
        <img src="<%= @winner.cover %>" class="res_card" id="winner_s" alt="">
        <img src="<%= @winner.poster %>" class="res_card_ really_hidden" id="winner" alt="">
      </div>
    <% end %>
      <img src="<%= @fill[i].cover %>" class="res_card" alt="">
  <% end %>
</div>
