

<!-- main section for swipping -->
<div class="main_div">
  <div class="title_div">
    <h1>Happy swiping!</h1>
    <p>Swipe until movies get matched.</p>
  </div>

</div>
<div id="parent_div" class="parent_div">
  <div id="move">
    <div class="image_div" id="img">
      <p id="movie_name"></p>
      <img src="#" alt="image" id="img_swipe" class="image">
    </div>

    <div id="user_id" class="really_hidden">
      <%= @user_id %>
    </div>
    <div id="small_img" class="really_hidden"></div>

    <div id="event_id" class="really_hidden">
      <%= @event_id %>
    </div>

    <div id="event_movie_id" class="really_hidden">
    </div>
  </div>
</div>
<!-- description section -->
<div class="info-section really_hidden" >
  <div class="column">
    <h3>More information:</h3>
      <ul class="list-inline">
        <li id="movie_title_small">Movie title:</li>
        <li id="movie_actors">Actors:</li>
        <li id="movie_director">Director(s):</li>
      <%# <li id="movie_duration">Duration:</li> %>
        <li id="movie_synopsys">Synopsys:</li>
      </ul>
  </div>
</div>

<div class="swipes-history-wrapper">
  <p>your likes:</p>
  <ul class="list-inline swipes-history"> 
    <% @event.reviews.where(user_id: current_user.id, movie_liked: true).each do |review| %>
      <li class="list-inline-item"> <img src="<%= review.event_movie.movie.cover%>"/> </li>
    <% end %>
  </ul>
</div>
 <script>
 document.addEventListener('keyup', function(event) {
  const code = event.keyCode;
    if (code == '40') {
        // down
      const info_hidden = document.getElementsByClassName("info-section")[0];
      info_hidden.classList.toggle("really_hidden");
    }

 })
</script>


<!-- Nice to have -->
<!-- should it be there? -->
<!--   <% if @event.event_subscriptions.where(owner: true)[0].user.id == current_user.id %>
    <%= link_to "End this event early", stop_path(@event.id), method: :post, class: 'btn btn-danger' %>
  <%end%> -->

