

<!-- main section for swipping -->
<div class="main_div">
  <div class="title_div">
    <h1>Happy swiping!</h1>
    <p>Swipe until movies get matched.</p>
  </div>

</div>
<!-- description section -->
<div class="card_flip js-card">
  <div class="card__wrappers">
    <div class="card__side is-active">
      <div id="parent_div" class="parent_div">
        <div id="move">
          <div class="image_div" id="img">
            <p id="movie_name"></p>
            <img src="#" alt="image" id="img_swipe" class="image">
            <i class="fas fa-redo" id="redo_img"></i>
          </div>

          <div id="user_id" class="really_hidden">
            <%= @user_id %>
          </div>
          <div id="small_img" class="really_hidden"></div>

          <div id="event_id" class="really_hidden">
            <%= @event_id %>
          </div>

          <div id="event_movie_id" class="really_hidden">
          </div>
        </div>
      </div>
    </div>
    <div class="card__side card__side--back">
        <h3>More information:</h3>
        <ul class="list-inline">
          <li id="movie_title_small">Movie title:</li>
          <li id="movie_actors">Actors:</li>
          <li id="movie_director">Director(s):</li>
        <%# <li id="movie_duration">Duration:</li> %>
          <li id="movie_synopsys">Synopsys:</li>
        </ul>
        <i class="fas fa-redo" id="redo_info"></i>
    </div>
  </div>
</div>

<div class="swipes-history-wrapper">
  <p>your likes:</p>
  <ul class="list-inline swipes-history horizontal-scroll"> 
    <% @event.reviews.where(user_id: current_user.id, movie_liked: true).reverse_each do |review| %>
      <li class="list-inline-item"> <img src="<%= review.event_movie.movie.cover%>"/> </li>
    <% end %>
  </ul>
</div>

<!-- Nice to have -->
<!-- should it be there? -->
<!--   <% if @event.event_subscriptions.where(owner: true)[0].user.id == current_user.id %>
    <%= link_to "End this event early", stop_path(@event.id), method: :post, class: 'btn btn-danger' %>
  <%end%> -->

