<h1>Hey</h1>

<form action="/preferences/save" method='POST' autocomplete="off">
  <input name="authenticity_token" type="hidden" value=<%= @token %> />

  <div class="container">
    <div id="locked_actor">
    </div>
    <div>
      <input type="text" name="actor_pref" id="actor_pref" class="pref_text" placeholder="Actor fullname">
      <ul id="results_actor" class="results">
      </ul>
      <input type="hidden" name="actor_list" id="actor_list" value="<%=@actor_str %>">
    </div>
  </div>

  <div class="container">
    <div id="locked_genre">
    </div>
    <div>
      <input type="text" name="genre_pref" id="genre_pref" class="pref_text" placeholder="Genre name">
      <ul id="results_genre" class="results">
      </ul>
      <input type="hidden" name="genre_list" id="genre_list" value="<%= @genre_str %>">
    </div>
  </div>

  <div class="container">
    <div id="locked_director">
    </div>
    <div>
      <input type="text" name="director_pref" id="director_pref" class="pref_text" placeholder="Director fullname">
      <ul id="results_director" class="results">
      </ul>
      <input type="hidden" name="director_list" id="director_list"value="<%= @director_str %>">
    </div>
  </div>

   <div id="container">
    <label for="duration">Max_time</label>
    <input type="text" name="duration" id="duration">
  </div>

  <input type="submit"> 
</form>