.avatar {
  width: 40px;
  border-radius: 20px;
}

.avatar-letter {
  position: relative;
  max-width: 40px;
  height: 40px;
  border-radius: 20px;
  padding: 7px 13px;
  background-color: #bebebe ;
  font-size: 1.2em;
  font-weight: 500;
  margin-right: 0 !important;
  .reviews-counter {
    max-width: 34px;
    text-align:center;
  }
  .user-rest , .swipes {
    display: none;
    opacity: 0;
  }

  .reviews-counter {
    font-size: 14px;
    position: absolute;
    top: -7px;
    right: -8px;
    display: inline-block;
    background-color: $green;
    border-radius: 10px;
    min-width: 20px;
    height: 20px;
    color: white;
    padding: 0 6px 3px 6px;
    }
}


.navbar-nav .avatar-letter {
  &:hover {
    max-width: 200px;
    min-width: 80px;
    .user-rest, .swipes {
      display: inline;
      opacity:1;
    }
    .reviews-counter {
      max-width: 200px;
    }
  }
}




.avatar-large {
  width: 56px;
  border-radius: 50%;
}
.avatar-bordered {
  width: 40px;
  border-radius: 20px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;

}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}


