// .cards a, .cards a:hover {
//   p, li, h1, h2, h3 {
//   text-decoration: none !important;
//   color: $gray;
//   }
// }

a:hover {
  text-decoration: none;
}



.card {
  white-space: normal;
  background-image: 
    linear-gradient(rgba(0,0,0,0.5) 90%,rgba(0,0,0,1) 90%),
    url("https://us.123rf.com/450wm/evgenyatamanenko/evgenyatamanenko1909/evgenyatamanenko190900138/130187064-family-mother-father-and-children-watching-projector-tv-movies-with-popcorn-in-the-evening-at-home.jpg");
  position: relative;
  padding: 20px;
  padding-bottom:20px;
  border-radius: 9px;
  margin: 0px 0px 20px 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 10px black;
  // box-shadow: inset rgba(0, 0, 0, 1) 0px 0px 8px;
  border: none;
  color: white;
     a h3 {
       font-size: 1.5rem;
       &:hover {
         i {
          opacity: 1;
         }
       }
       i {
         opacity: 0;
         font-size: 16px;
       }
     }
     .closed h3, .closed a {
       position: absolute;
       z-index: 10;
     }
     .closed::before {
      background-image: 
      linear-gradient(rgba(0,0,0,0.5) 90%,rgba(0,0,0,1) 90%),
      url("https://us.123rf.com/450wm/evgenyatamanenko/evgenyatamanenko1909/evgenyatamanenko190900138/130187064-family-mother-father-and-children-watching-projector-tv-movies-with-popcorn-in-the-evening-at-home.jpg");
      filter: grayscale(100%);
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      background-size: cover;
    }
}

.add-new {
  box-shadow: none;
  align-items: center;
  justify-content: center;
  background-color: transparent !important;
  border: 1px solid rgba($color: white, $alpha: .5);
  background-image: none;
}

.links {
  position: absolute;
  top: 10px;
  right: 10px;
}

.restart {
  top: 15%;
  right: 50%;
  i {
  font-size: 50px;
  position: absolute;
  right: -20px;
  }
}

.edit {
  letter-spacing: 2px;
  color: white;
  font-size: .9em;
  opacity: .8;
  &:hover {
    opacity: 1;
    color: white;
  }
}

.view {
  letter-spacing: 2px;
  color: white;
  font-size: 1em;
  opacity: .8;
  &:hover {
    opacity: 1;
    color: white;
  }
}

.card .btn-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-radius: 0;
}

.date {
  opacity: .6;
  font-weight: lighter;
  margin-bottom: 0;
}

.add-new .card-content{
  display: flex;
  text-align: center;
  flex-direction: column-reverse;
  p {
    color: rgba($color: white, $alpha: .5);
    margin-top: 0.8rem;
    margin-bottom: 1rem;
  }
}

.card-content {
  .form-inline {
    .form-control {
      width: 150px !important;
      border-radius: 19px 0 0 19px;
      border: none;
      font-size: 14px;
      height: 38px;
      padding-left: 20px;
    }
    .btn 
    {
      border-radius: 0 19px 19px 0;
      width: 68px;
    }
  }
  .btn 
    {
      width: 218px;
      border-radius: 19px;
    }
}

#errormessage {
  color: #ff0000c4;
  font-size: 13px;
}

// to fix form-inline on small screens
.form-group {
  margin-bottom: 0;
}