.results {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position:absolute;
  width: 100%;
  display: block;
  overflow: hidden; overflow-y:scroll;
  z-index: 100;
  background-color: white;
}

.drop-title {
 width: 400px;
 border: none;
 background-color: white;
 font-size: 30px;
 text-align: center;
   .fa-chevron-down {
     font-size: 20px;
   }
}

#event-dropdown {
  padding: 0 20px 0 20px;
  text-align: center;
}

.dropdown-content {
  background-color: white;
  left: 0px;
  a {
  font-size: 20px;
  color: black;
  }
}


.li_results:hover {
  // background-color: lightgrey;
}
.pref {
  position: relative;
}

.pref_text {
  // width: 650px;
}

#locked_actor, #locked_genre, #locked_director {
  width: 100%;
}


.item_card{
  margin: 0.3rem .2rem 0 0;
  position: relative;
  background-color: $green;
  display: inline-block;
  padding: 6px 25px 5px 10px;
  font-size: 14px;
  // font-weight: bold;
  white-space: nowrap;
  color: white;
  border-radius: 16px;
  overflow: hidden;
}

.txt {
  display: inline;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
}

.x {
  display: inline;
  color: #13131345;
  position: absolute;
  right: 11px;
  font-weight: bold;
  cursor: pointer;
}