.res_array{
  flex-wrap: wrap;
}

.res_card{
  height: 100px;
  width: 70px;
}
.res_card_{
  height: 100px;
  width: 70px;
}
#winner_div{
  display: inline;
  width: 70px;
  height: 100px;
}

#winner{
  background-color: rgb(204, 198, 198);
  box-shadow: 0px 0px 40px rgb(204, 198, 198);
  border: 1px solid black;
}